/*
 * Global Stylesheet that ties in all other global styles.
 * by MorpheusZero
 *
 * GITHUB: http://www.github.com/MorpheusZero/factorio-zero-launcher
 * WEBSITE: http://www.dylanlegendre.com/
 */

/* Always import normalize on every page. */
@import url('lib/normalize-v8.0.0.css');

/* Import Google Open Sans Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables */
@import url('variables.css');

/* Defaults for every page */
html, body {
    padding: var(--size-reset);
    margin: var(--size-reset);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-white);
}

/* Layout, Margin, & Padding Helpers */
.padding-reset {
    padding: var(--size-reset);
}
.padding-normal {
    padding: var(--size-normal);
}
.padding-sm {
    padding: var(--size-sm);
}
.padding-lg {
    padding: var(--size-lg);
}

/* Background Colors Helpers */
.background-orange {
    background-color: var(--color-orange);
}

/* Text Color Helpers */
.text-black {
    color: var(--color-black);
}